<style media="screen">
table {
  margin: auto;
}

#name{
  color: white;
  text-align: center;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #e3d48a}
tr:nth-child(odd){background-color: #e3a88a;}

th {
  background-color: black;
  color: white;
}
body{
  background-color: #314455;
}

#link{
  border-radius: 8px;
  background-color:#48AA48;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.center{
  margin: 0 auto;
}
#tst{
  margin: auto;
  width: 70%;
  border: 3px solid white;
  padding: 10px;
}
#thicker{
  font-size: 36px;
}
.smaller{
  width: 60%;
  margin: auto;
}
</style>

<h1 id="name">Faculties</h1>
<div id="tst">
  <div class="smaller">
<%= form_tag(faculties_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Faculty" %>
<%= submit_tag "Search" %>
<% end %>
<% if @faculties.empty? %>
  <p>There are no permits containing the term(s) <%= params[:search] %>.</p>
<% end %>
</div>
<br/>
<br/>
<table>
  <thead>
    <tr>
      <th>AU ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Cell Phone</th>
      <th>Office Phone</th>
      <th>Department</th>
      <th>Office</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.faculty_id %></td>
        <td><%= faculty.last_name %></td>
        <td><%= faculty.first_name %></td>
        <td><%= faculty.cell_phone %></td>
        <td><%= faculty.office_phone %></td>
        <td><%= faculty.department %></td>
        <td><%= faculty.office %></td>
        <td><%= link_to 'Show', faculty if policy(faculty).show? || policy(faculty).edit? %></td>
        <td><%= link_to 'Edit', edit_faculty_path(faculty) if policy(faculty).edit? %></td>
        <td><%= link_to 'Destroy', faculty, method: :delete, data: { confirm: 'Are you sure?' } if policy(faculty).destroy? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
